@media (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        display: block;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    canvas {
        background-image: url("Table.png");
        background-size: cover;
        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: 100vh;
    }

    body {
        margin: 0;
        overflow: hidden;
    }

    #gameCanvas {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    #navbar, .sidebar {
        display: none;
    }

.toggle-btn {
    display: none;
}


    #topbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 9vmin;
        width: 100vw;
        background: linear-gradient(#000000, #222222);
        border-bottom: 2px solid black;
    }

    #topbar ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin: 0;
    }

    #topbar ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.6vmax;
        display: block;
    }

    .toggle-btn{
        display: none;
    }
    #threel{
        display: none;
        height: 0;
        width: 0;
    }

    #fhreel{
        height: 2vmax;
        width: 2vmax;

    }

    .foggle-btn {
        position: fixed;
        left: 0.9vh;
        cursor: pointer;
        display: block;
        height: 2vmax;
        width: 2vmax;
    }

    .sidebar ul li {
        display: none;
    }


    .foggle-btn:hover {
        background-color: whitesmoke;
    }
}


