.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000; 
    margin: 0;
    height: 100vh; 
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}

canvas {
    background-image: url("Table.png");
    background-size: cover;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#gameCanvas {
    width: 50vw;
    height: 40vw;
    border: 2px solid black;
    display: block;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100vh;
    color: white;
    transition: left 0.3s ease;
    background-color: #111111;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 10vh;
    color: white;
    background: linear-gradient(#000000, #222222);
    border-bottom: 2px solid black;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px;
    font-size: 26px;
    position: relative;
    top: 10vh;
    color: white;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.6vw;
}

.sidebar ul li a:hover {
    background: linear-gradient(rgb(165, 81, 42), #e48d53, #e48d53, rgb(165, 81, 42));
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
}


#threel{
    height: 2vw;
    width: 2vw
}


.foggle-btn{
    display: none;
}

#topbar ul li a {
    display: none;
}
